header, form#form, footer{
  text-align: center;
}
form#form, footer{
  color: #FFFFFF;
}
header{
  color: #00496E;
}
header h1{
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}
header h2{
  font-size: 2em;
}
header p{
  font-size: 1.3em;
}
header form{
  color: #00496E;
}
h2#startGame{
  width: 100%;
  margin: 50px auto;
  font-size: 2em;
  text-align: center;
  color: #FFFFFF;
  background-color: #00496E;
  font-family: 'comics sans ms';
}
form#form{
  width: 35%;
  margin: 5px auto;
  padding: 10px 0;
  border-radius: 50px;
  background-color: #00496E;
}
form#form p#affichageMot{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #00496e;
  background-color: #FFFFFF;
}
form#form input#word{
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 1.5em;
}
form#form button{
  font-size: 1.5em;
}
div#logoScore{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  margin: auto;
  padding: 100px;
  font-size: 2em;
  background-image: url('../assets/images/logo_etoile_score.png');
  background-size: cover;
  background-position: center;  
}
p#blablaScore{
  width: 100%;
  margin: 0;
  text-align: center;
}
div#logoScore p#score{
  margin: 0;
  font-weight: bold;
}
footer{
  width: 35%;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #00496e;
}

@media (max-width: 900px){
  form#form{
    width: 60%;
  }
  footer{
    width: 100%;
  }
}
@media (max-width: 600px){
  form#form{
    width: 90%;
  }
  div#logoScore{
    font-size: 1.5em;
  }
}